# Copy this file to .env and fill in the values

# PostgreSQL connection string
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/ppa_ldo_loa?schema=public"

# NextAuth secret — generate with: openssl rand -base64 32
AUTH_SECRET="your-auth-secret-minimum-32-characters-here"
